<style>
#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 110mm;
  background: #FFF;
  
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
}
<%e = Employee.find(params[:id]) %>
<%adv = e.advances.where(date: Date.today.beginning_of_month..Date.today.end_of_month).sum(:amount) %>
<%bonus = e.bonuses.where(date: Date.today.beginning_of_month..Date.today.end_of_month).sum(:amount)%>
<%ot = e.overtimes.where(date: Date.today.beginning_of_month..Date.today.end_of_month).sum(:number_of_hours) * ((e.employee_compensation.salary / 30)/ 8) %>
<%absence =  e.absences.where(date: Date.today.beginning_of_month..Date.today.end_of_month).sum(:quantity) * (e.employee_compensation.salary / 30) %>
<% adv_paid_back = e.advances.where(date: Date.today.beginning_of_month - 1.month..Date.today.end_of_month-1.month, is_paid_back: false).sum(:amount) %>
<% payable = e.employee_compensation.salary + adv + ot - absence - adv_paid_back%>
<% eobi = (payable*e.employee_compensation.EOBI_percentage)/100 %>
<% tax = e.income_tax(payable)%>
</style>
<div>
  <div class="row-print">

    <center id="top">
      <div class="info"> 
      <h2><%= e.full_name%></h2>
      <div class="logo">
        <%= image_tag url_for(e.image), width: 200, height: 200%>
      </div>

      </div><!--End Info-->
    </center><!--End InvoiceTop-->

   <div id="bot">

    <div id="table" class="panel_contents panel">
      <table>
        <tr class="tabletitle">
          <td class="item"><h2 class="itemtext">Name</h2></td>
          <td class="Hours"><h2 class="itemtext">Amount Income</h2></td>
          <td class="Rate"><h2 class="itemtext">Amount Subtracted</h2></td>
        </tr>


        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Base Salary </p></td>
          <td class="tableitem"><p class="itemtext"><%= e.employee_compensation.salary %></p></td>
          <td class="tableitem"><p class="itemtext"> 0 </p></td>
        </tr>

        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Advances </p></td>
          <td class="tableitem"><p class="itemtext"><%= adv %></p></td>
          <td class="tableitem"><p class="itemtext"> 0 </p></td>
        </tr>
        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Bonus/Allowances </p></td>
          <td class="tableitem"><p class="itemtext"><%= bonus%></p></td>
          <td class="tableitem"><p class="itemtext"> 0 </p></td>
        </tr>
        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Overtime </p></td>
          <td class="tableitem"><p class="itemtext"><%= ot %></p></td>
          <td class="tableitem"><p class="itemtext"> 0 </p></td>
        </tr>

        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Absences Pay Cut </p></td>
          <td class="tableitem"><p class="itemtext">0</p></td>
          <td class="tableitem"><p class="itemtext"> <%= absence%> </p></td>
        </tr>
        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Advances Paid Back </p></td>
          <td class="tableitem"><p class="itemtext"> 0 </p></td>
          <td class="tableitem"><p class="itemtext"> <%=  adv_paid_back%> </p></td>
        </tr>
        <tr class="service">
          <td class="tableitem"><p class="itemtext"> EOBI </p></td>
          <td class="tableitem"><p class="itemtext">0</p></td>
          <td class="tableitem"><p class="itemtext"> <%=  eobi %> </p></td>
        </tr>

        <tr class="service">
          <td class="tableitem"><p class="itemtext"> Income Tax </p></td>
          <td class="tableitem"><p class="itemtext">0</p></td>
          <td class="tableitem"><p class="itemtext"> <%=  tax%> </p></td>
        </tr>
        
        <tr class="service">
          <td></td>
          <td class="tableitem"><h2 class="itemtext">Gross Pay</h2></td>
          <td class="tableitem"><h2 class="itemtext">Rs.<%=payable-eobi+tax %></h2></td>
        </tr>


      </table>
    </div><!--End Table-->

    <div id="legalcopy">
      <p class="legal"><strong>This is a computer generated slip</strong> </br>
      </p>
    </div>

  </div><!--End InvoiceBot-->
</div><!--End Invoice-->
</div>
